{% extends 'base.html' %}

{% block title %}Detalhes da Postagem{% endblock %}

{% block content %}
<h1>{{ post.title }}</h1>
<p>{{ post.description }}</p>

{% if post.image %}
    <img src="{{ post.image.url }}" alt="{{ post.title }}">
{% endif %}

<p>Criado em: {{ post.create_at }}</p>
<p class="author">Postado por: {{ post.user.username }}</p>

<h2>Comentários:</h2>
<ul>
    {% for comment in comments %}
        <li>
            <strong>{{ comment.user.username }}:</strong>
            <p>{{ comment.content }}</p>
        </li>
    {% empty %}
        <p>Nenhum comentário ainda.</p>
    {% endfor %}
</ul>

{% if user.is_authenticated %}
    <form method="POST" action="{% url 'add_comment' post.id %}">
        {% csrf_token %}
        <textarea name="content" required></textarea>
        <button type="submit">Adicionar Comentário</button>
    </form>
{% else %}
    <p>Você precisa estar <a href="{% url 'login' %}">logado</a> para comentar.</p>
{% endif %}
{% endblock %}
